<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <context id="context1" targetRuntime="MyBatis3">
        <!-- 指定生成的java文件的编码,没有直接生成到项目时中文可能会乱码 -->
        <property name="javaFileEncoding" value="UTF-8"/>
        <!-- oracle配置 -->
         <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://39.108.182.25:3306/genst" userId="genst" password="genst">
                   <!-- 针对mysql数据库 -->
                   <property name="useInformationSchema" value="true"></property>
         </jdbcConnection>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <!-- dto class -->
        <javaModelGenerator targetPackage="com.test.model" targetProject="D:\soft\java\workspace\git\gen\src\main\java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <!-- mybatis xml file -->
        <sqlMapGenerator targetPackage="com.test.dao"
            targetProject="D:\soft\java\workspace\git\gen\src\main\java">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <!-- mapper class -->
        <javaClientGenerator type="XMLMAPPER"
            targetPackage="com.test.dao" targetProject="D:\soft\java\workspace\git\gen\src\main\java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>


        <!--不生成帮助类（Exmaples） -->
        <!-- enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" 
            enableSelectByExample="false" selectByExampleQueryId="false" -->
        <!--已生成的表 <table schema="demo" tableName="USER" domainObjectName="User"></table> -->
            <!-- enableCountByExample="false" enableUpdateByExample="false"
            enableDeleteByExample="false" enableSelectByExample="false"
            selectByExampleQueryId="false" -->
        <table schema="" tableName="test" domainObjectName="Test"
            >
        </table>

    </context>
</generatorConfiguration>